@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

$swervy-xs: 320px;
$swervy-sm: 425px;
$swervy-md: 768px;
$swervy-lg: 1000px;
$swervy-lgxl: 1200px;
$swervy-xl: 1400px;
$swervy-xxl: 1900px; 
$swervy-supersize: 2500px; 
$pink: hsl(322, 100%, 66%);
$light-pink: hsl(321, 100%, 78%);
$light-red: hsl(0, 100%, 63%);
$dark-cyan: hsl(192, 100%, 9%);
$pale-blue: hsl(207, 100%, 98%);
$white: hsl(0, 0, 100%);
$swervy-body-font: "Open Sans", sans-serif;
$swervy-header-font: "Poppins", sans-serif;


// * {
//   outline: 1px solid red;
// }

.swervy-main {
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  font-family: $swervy-body-font;
  padding-top: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background-color: $white;
  @media only screen and (min-width: $swervy-lgxl) {
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.swervy-navbar {
  display: grid;
  grid-column: -1 / 1;
  grid-template-columns: 0.3fr 0.7fr;
  .swervy-logo {
    display: flex;
    justify-content: center;
    margin-right: auto;
    @media only screen and (min-width: $swervy-md) {
      width: 65%;
      height: auto;
    }
    @media only screen and (min-width: $swervy-lgxl) {
      width: 50%;
      height: auto;
    }
  }
  .try-button {
    display: flex;
    margin-left: auto;
    background: transparent;
    border: $pink 1px solid; 
    border-radius: 25px;
    color: $pink;
    text-transform: capitalize;
    font-size: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.4em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    font-weight: 500;
    @media only screen and (min-width: $swervy-lgxl) {
      font-size: 1em;
    }
  }
}

.swervy-header {
  grid-column: -1 / 1;
  grid-template-columns: 0.3fr 0.7fr;
  display: flex;
  flex-direction: column;
  text-align: center;
  .swervy-header-text {
    font-size: 1.2em;
    font-family: $swervy-header-font;
    margin-top: 100px;
    padding-right: 0.7em;
    padding-left: 0.7em;
    line-height: 1.5em;
    font-weight: 700;
    @media only screen and (min-width: $swervy-md) {
      font-size: 2em;
    }
    @media only screen and (min-width: $swervy-lgxl) {
      font-size: 2.8em;
    }
  }
  .swervy-header-content {
    font-size: 0.7em;
    width: 270px;
    font-weight: 500;
    display: flex;
    margin: auto;
    text-align: center;
    @media only screen and (min-width: $swervy-md) {
      width: 400px;
    }
    @media only screen and (min-width: $swervy-lgxl) {
      width: 500px;
      font-size: 1em;
    }
  }
  .get-started-button {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-top: 2em;
    width: 150px;
    background-color: $pink;
    border-radius: 25px;
    font-size: 0.5em;
    text-transform: capitalize;
    @media only screen and (min-width: $swervy-lgxl) {
      width: 200px;
      font-size: 0.8em;
    }
  }
}

.image-section {
  grid-column: -1 / 1;
}

.numbers-section {
  grid-column: -1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 10vw;
  @media only screen and (min-width: $swervy-md) {
    flex-direction: row;
  }
  .numbers-section-left {
    @media only screen and (min-width: $swervy-md) {
      flex: 1;
    }
  }
  .numbers-section-right {
    @media only screen and (min-width: $swervy-md) {
      flex: 1;
    }
  }
}

.grow-section {
  grid-column: -1 / 1;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  justify-content: center;
  @media only screen and (min-width: $swervy-md) {
    flex-direction: row;
  }
  .grow-section-left {
    @media only screen and (min-width: $swervy-md) {
      flex: 1;
    }
  }
  .grow-section-right {
    @media only screen and (min-width: $swervy-md) {
      flex: 1;
    }
  }
}

.convo-section {
  grid-column: -1 / 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  @media only screen and (min-width: $swervy-md) {
    flex-direction: row;
  }
  .convo-section-left {
    @media only screen and (min-width: $swervy-md) {
      flex: 1;
    }
  }
  .convo-section-right {
    @media only screen and (min-width: $swervy-md) {
      flex: 1;
    }
  }
}

.user-section {
  grid-column: -1 / 1;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  justify-content: center;
  @media only screen and (min-width: $swervy-md) {
    flex-direction: row;
  }
  .user-section-left {
    @media only screen and (min-width: $swervy-md) {
      flex: 1;
    }
  }
  .user-section-right {
    @media only screen and (min-width: $swervy-md) {
      flex: 1;
    }
  }
}

.community-section {
  grid-column: -1 / 1;
}

.swervy-footer {
  grid-column: -1 / 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}