@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

$swervy-xs: 320px;
$swervy-sm: 425px;
$swervy-md: 768px;
$swervy-lg: 1000px;
$swervy-lgxl: 1200px;
$swervy-xl: 1400px;
$swervy-xxl: 1900px; 
$swervy-supersize: 2500px; 
$pink: hsl(322, 100%, 66%);
$light-pink: hsl(321, 100%, 78%);
$light-red: hsl(0, 100%, 63%);
$dark-cyan: hsl(192, 100%, 9%);
$pale-blue: hsl(207, 100%, 98%);
$white: hsl(0, 0, 100%);
$swervy-body-font: "Open Sans", sans-serif;
$swervy-header-font: "Poppins", sans-serif;


// * {
//   outline: 1px solid red;
// }

  #accordion-label-swervy {
	display:inline-block;
	background: #cd2653;
	font-weight: bold;
	color: #fff;
	padding: 1em;
	margin: 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
		&:hover {
			background: #af103b;
	}
		&::after {
			font-family: "Font Awesome 5 Free"; 
			font-weight: 900;
			content: '\a0\a0\a0\f107';
	}
}

#accordion-checkbox {
	+ #accordion-label-swervy + .accordion-content {
    display: none;
	}
	&:checked {
		+ #accordion-label-swervy + .accordion-content {
			display: block;
		}		
		+ #accordion-label-swervy::after {
			content: '\a0\a0\a0\f106';
		}
	}
}

.swervy-main {
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  font-family: $swervy-body-font;
  padding: 0;
  background-color: $white;
}

.swervy-navbar {
  background-color: #e6faff;
  padding-top: 1em;
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: 0;
  display: grid;
  grid-column: -1 / 1;
  grid-template-columns: 0.3fr 0.7fr;
  @media only screen and (min-width: $swervy-lg) {
    padding-top: 2em;
    padding-left: 2em;
  }
  .swervy-logo {
    display: flex;
    justify-content: center;
    margin-right: auto;
    @media only screen and (min-width: $swervy-md) {
      width: 65%;
      height: auto;
    }
    @media only screen and (min-width: $swervy-lgxl) {
      width: 50%;
      height: auto;
    }
  }
  .try-button {
    display: flex;
    margin-left: auto;
    background: transparent;
    border: $pink 1px solid; 
    border-radius: 25px;
    color: $pink;
    text-transform: capitalize;
    font-size: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.4em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    font-weight: 500;
    @media only screen and (min-width: $swervy-lg) {
      font-size: 1em;
      margin-right: 2em;
    }
    @media only screen and (min-width: $swervy-lgxl) {
      font-size: 1em;
    }
  }
}

button {
  &:hover, &:focus {
    background-color: $light-pink;
  }
}

.swervy-header {
  grid-column: -1 / 1;
  grid-template-columns: 0.3fr 0.7fr;
  display: flex;
  flex-direction: column;
  text-align: center;
  .swervy-header-text {
    font-size: 1.2em;
    font-family: $swervy-header-font;
    padding-right: 0.7em;
    padding-left: 0.7em;
    line-height: 1.5em;
    font-weight: 700;
    @media only screen and (min-width: $swervy-md) {
      font-size: 2em;
    }
    @media only screen and (min-width: $swervy-lgxl) {
      font-size: 2.8em;
    }
  }
  .swervy-header-content {
    font-size: 0.7em;
    width: 270px;
    font-weight: 500;
    display: flex;
    margin: auto;
    text-align: center;
    @media only screen and (min-width: $swervy-md) {
      width: 400px;
    }
    @media only screen and (min-width: $swervy-lgxl) {
      width: 500px;
      font-size: 1em;
    }
  }
}

.image-section {
  padding-left: 1em;
  padding-right: 1em;
  grid-column: -1 / 1;
  @media only screen and (min-width: $swervy-lg) {
    display: flex;
    justify-content: center;
    padding-left: 2em;
    padding-right: 2em;
  }
  @media only screen and (min-width: $swervy-xl) {
    display: flex;
    justify-content: center;
  }
}

.get-started-button {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: auto;
  margin-top: 2em;
  width: 150px;
  background-color: $pink;
  border-radius: 25px;
  font-size: 0.5em;
  text-transform: capitalize;
  @media only screen and (min-width: $swervy-lgxl) {
    width: 200px;
    font-size: 0.8em;
  }
}

.second-header {
  font-size: 1.5em;
}
.info-sections-content {
  font-size: 0.8em;
}

.numbers-section {
  grid-column: -1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 10vw;
  @media only screen and (min-width: $swervy-md) {
    padding-left: 1em;
    padding-right: 1em;
    flex-direction: row;
  }
  .numbers-section-left {
    @media only screen and (min-width: $swervy-md) {
      flex: 1;
    }
  }
  .numbers-section-right {
    @media only screen and (min-width: $swervy-md) {
      flex: 1;
    }
  }
  .numbers-section-icon {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    .svg-icon {
      justify-self: center;
      width: 25%;
      height: auto;
    }
  }
  .numbers-section-value {
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 0;
  }
  .numbers-section-text {
    font-size: 0.3em;
    color: hsl(0, 1%, 50%);
    margin-bottom: 5em;
  }
}

.grow-section {
  grid-column: -1 / 1;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  text-align: center;
  flex-direction: column-reverse;
  justify-content: center;
  @media only screen and (min-width: $swervy-md) {
    flex-direction: row;
    text-align: left;
  }
  .grow-section-left {
    @media only screen and (min-width: $swervy-md) {
      flex: 1;
      padding-left: 1em;
      padding-right: 1em;
    }
    @media only screen and (min-width: $swervy-lg) {
      padding-left: 2em;
      padding-right: 2em;
    }
    @media only screen and (min-width: $swervy-xl) {
      padding-left: 4em;
      padding-right: 4em;
    }
  }
  .grow-section-right {
    @media only screen and (min-width: $swervy-md) {
      flex: 1;
      padding-left: 1em;
      padding-right: 1em;
    }
    @media only screen and (min-width: $swervy-lg) {
      padding-left: 2em;
      padding-right: 2em;
    }
    @media only screen and (min-width: $swervy-xl) {
      padding-left: 4em;
      padding-right: 4em;
    }
  }
}

.convo-section {
  grid-column: -1 / 1;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  @media only screen and (min-width: $swervy-md) {
    flex-direction: row;
  }
  .convo-section-left {
    @media only screen and (min-width: $swervy-md) {
      flex: 1;
       padding-left: 1em;
      padding-right: 1em;
    }
    @media only screen and (min-width: $swervy-lg) {
      padding-left: 2em;
      padding-right: 2em;
    }
    @media only screen and (min-width: $swervy-xl) {
      padding-left: 4em;
      padding-right: 4em;
    }
  }
  .convo-section-right {
    @media only screen and (min-width: $swervy-md) {
      flex: 1;
      padding-left: 1em;
      padding-right: 1em;
      text-align: left;
    }
    @media only screen and (min-width: $swervy-lg) {
      padding-left: 2em;
      padding-right: 2em;
    }
    @media only screen and (min-width: $swervy-xl) {
      padding-left: 4em;
      padding-right: 4em;
    }
  }
}

.user-section {
  grid-column: -1 / 1;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  text-align: center;
  flex-direction: column-reverse;
  justify-content: center;
  @media only screen and (min-width: $swervy-md) {
    flex-direction: row;
  }
  .user-section-left {
    @media only screen and (min-width: $swervy-md) {
      flex: 1;
      padding-left: 1em;
      padding-right: 1em;
      text-align: left;
    }
    @media only screen and (min-width: $swervy-lg) {
      padding-left: 2em;
      padding-right: 2em;
    }
    @media only screen and (min-width: $swervy-xl) {
      padding-left: 4em;
      padding-right: 4em;
    }
  }
  .user-section-right {
    @media only screen and (min-width: $swervy-md) {
      flex: 1;
      padding-left: 1em;
      padding-right: 1em;
    }
    @media only screen and (min-width: $swervy-lg) {
      padding-left: 2em;
      padding-right: 2em;
    }
    @media only screen and (min-width: $swervy-xl) {
      padding-left: 4em;
      padding-right: 4em;
    }
  }
}

.build-section {
  grid-column: -1 / 1;
  display: flex; 
  text-align: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 68% 32% 83% 17% / 45% 70% 30% 55%;
  background: rgb(200,240,250);
  background: radial-gradient(circle, rgba(200,240,250,1) 0%, rgba(255,255,255,1) 66%, rgba(255,255,255,1) 100%);
  @media only screen and (min-width: $swervy-md) {
    border-radius: 71% 29% 83% 17% / 44% 79% 21% 56% 
  }
  @media only screen and (min-width: $swervy-xl) {
    margin-top: 4em;
  }
}

.curved-footer{
  padding: 0;
  grid-column: -1 / 1;
  display: flex; 
}

.fab {
  &:hover, &:focus {
    color: cyan;
  }
}

.swervy-footer {
  grid-column: -1 / 1;
  display: flex;
  padding-left: 1em; 
  padding-right: 1em;
  font-size: 0.7em;
  flex-direction: column-reverse;
  justify-content: center;
  flex-direction: column-reverse;
  justify-content: space-between;
  background-color: #110b34;
  font-family: $swervy-header-font;
  color: $white;
  @media only screen and (min-width: $swervy-md) {
    flex-direction: row;
  }
  
 
  .footer-huddle {
    margin-top: 5em;
    @media only screen and (min-width: $swervy-md) {
    padding-left: 3em;
    padding-right: 4em;
    }
    .huddle-logo {
      width: 150px; 
      padding-bottom: 1.5em;
      }
      .fa-phone-alt {
        font-size: 1.5em;
        margin-top: 1em;
      }
      .fa-phone-alt-text {
        margin-left: 2em;
      }
      .fa-envelope {
        font-size: 1.5em;
        margin-top: 0.8em;
      }
      .fa-envelope-text {
        margin-left: 2em;
      }

    .contact-icons {
      display: flex; 
      gap: 1em;
      margin-top: 2em;
      font-size: 1.8em;
      margin-bottom: 3em;
    }
  }
  .newsletter {
    @media only screen and (min-width: $swervy-md) {
    padding-right: 3em;
    }
    .newsletter-header {
      @media only screen and (min-width: $swervy-md) {
      padding-top: 0.8em;
      font-size: 2em;
      }
    }
    .footer-form {
      grid-column: -1 / 1;
      display: flex; 
      flex-direction: column;
      justify-content: end;
      @media only screen and (min-width: $swervy-md) {
        justify-content: space-between;
        margin-top: 2em;
      }
      #email {
        border-radius: 5px;
        margin-bottom: 1em;
        margin-top: 1em;
        @media only screen and (min-width: $swervy-md) {
          margin-right: 0.2em;
        }
      }
      button.subscribe-button { 
        margin-left: auto;
        border-radius: 5px;
        width: 50%;
        background-color: $pink;
        @media only screen and (min-width: $swervy-md) {
          font-size: 0.7em;
          padding: 0;
          height: 6em;
        }
      }
    }
  }
}