@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

$grid-breakpoints: (
  xs: 0,
  sm: 370px,
  smmd: 425px,
  md: 768px,
  lg: 1024px,
  mid-lg: 1200px,
  xl: 1400px,
  xxl: 1900px
);
$container-max-widths: (
  sm: 365px,
  smmd: 425px,
  md: 763px,
  lg: 1020px,
  mid-lg: 1300px,
  xl: 1395px,
  xxl: 1895px
);

$main-background: #2B2D42;
$light-grey: #F7F7F9;
$card-outline: #b7e8db;
$inner-logo: #af3557;
$link-color: #B1B1B3;
$link-hover: #FFFFFF;
$link-active: #fff200;
$shopping-desktop: 900px; 
$shopping-mobile: 400px;
$button-and-outline: hsl(26, 100%, 55%);
$text-color: hsl(219, 9%, 45%);
$price-background: hsl(223, 64%, 98%);
$light-background: hsl(0, 0%, 100%);
$dark-font: hsl(0, 0%, 0%);  //(with 75% opacity for lightbox background)
$shopping-font: 'Kumbh Sans', sans-serif;


$portfolio-font: 'Kumbh Sans', sans-serif;
@import "../../node_modules/bootstrap/scss/bootstrap.scss";