@import "./variables";
@import "./ecommerce";

.portfolio-body  {
  background-color: $main-background;
  font-family: $portfolio-font;
}

nav.navbar.portfolio-navbar {
  background-color: $main-background;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid $card-outline;
  .logo-image {
    width: 30px; 
    height: auto;
    @include media-breakpoint-up(mid-lg) {
      width: 50px;
    } 
  }
  .portfolio-navlink {
    border-bottom: 3px solid transparent;
    @include media-breakpoint-up(mid-lg) {
      font-size: 1.5em;
    }
  }
  .portfolio-navlink.construction {
    &:focus, &:hover, &:active {
      border-bottom: 3px solid $card-outline;
    }
  }
  .portfolio-navlink.about {
    &:focus, &:hover, &:active {
      border-bottom: 3px solid $inner-logo;
    }
  }
  .portfolio-navlink.home {
    &:focus, &:hover, &:active {
      border-bottom: 3px solid $link-active;
    }
  }
  .home.active {
    border-bottom: 3px solid $link-active;
  }
  .construction.active {
    border-bottom: 3px solid $card-outline;
  }
  .about.active {
    border-bottom: 3px solid $inner-logo;
  }
}

.portfolio-header {
  border-bottom: 1px solid $card-outline;
  margin-top: 5em;
  @include media-breakpoint-up(mid-lg) {
    margin-top: 7em;
  }
  .portfolio-header-font {
    color: $light-grey;
    font-size: 3em;
  }
  .portfolio-header-text {
    color: $light-grey;
    font-size: 2em;
  }
}

.row.portfolio-top-row {
  @include media-breakpoint-up(lg) {
    margin-top: 100px; 
  }
}

img.portfolio-card-image {
  height: 165px;
  @include media-breakpoint-up(sm) {
    height: 200px; 
  }
  @include media-breakpoint-up(md) {
    height: 250px; 
  }
  @include media-breakpoint-up(mid-lg) {
    height: 275px; 
  }
  @include media-breakpoint-up(xl) {
    height: 325px; 
  }
}

p.portfolio-card-text {
  font-size: 1.5em;
  @include media-breakpoint-up(md) {
    font-size: 2.2em;
  }
}

.card-link-text {
  text-decoration: none;
  color: black;
  &:hover, &:focus {
    color: black;
  }
}

.main-git-row {
  width: 88%;
  font-size: 2em;
}

.card.portfolio-card {
  width: 75%; 
  border-color: $card-outline;
  transition: transform 0s, border-color 0.3s;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.8);
  @include media-breakpoint-up(md) {
    width: 90%;
  }
  @include media-breakpoint-up(lg) {
      width: 65%;
  }
  @include media-breakpoint-up(xxl) {
    width: 50%;
  }
  .portfolio-card-body {
    height: 87.5px;
    @include media-breakpoint-up(md) {
      height: 120px;
    }
  }
  .card-corner {
    display: flex;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    transition: margin-right 0.3s;
    top: 0;
    right: -24px;
    height: 100%;
    width: 33px;
    padding-right: 9px;
    border-radius: 0;
    transform: skew(8deg);
    margin-right: -36px;
    align-items: start;
    background-color: $inner-logo;
    @include media-breakpoint-up(sm) {
    right: -21px;
    }
    @include media-breakpoint-up(md) {
      margin-right: -40px;
      right: -26px;
      width: 40px;
    }
    @include media-breakpoint-up(mid-lg) {
      right: -30px; 
      margin-right: -60px;
      width: 45px;
    }
    @include media-breakpoint-up(xl) {
      right: -26px; 
      margin-right: -60px;
      width: 45px;
    }
  }
  .corner-arrow {
    position: absolute;
    transform: skew(-6deg);
    margin-left: -2px;
    margin-top: 0px;
    opacity: 0;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    transition: 0.3s;
  }
  &:hover {
    .card-corner {
      margin-right: -4px;
    }
    .corner-arrow {
      opacity: 1;
    }
    border: 1px solid $inner-logo;
  }
  &:active {
    transform: translate(2px, 2px);
  }
}

.portfolio-footer {
  background: $main-background;
  background: linear-gradient(180deg, rgba(43,45,66,1) 2%, rgba(175,53,87,1) 100%);
  .footer-icon{
    color: $light-grey;
    font-size: 3em;
    @include media-breakpoint-up(smmd) {
      font-size: 3.2em;
      margin-top: 1em;
      margin-bottom: 1em;
    }
    @include media-breakpoint-up(md) {
      font-size: 5em;
    }
    @include media-breakpoint-up(mid-lg) {
      font-size: 3em;
    }
    &:hover, &:focus {
      color: $link-hover;
    }
  }
  .portfolio-navlink {
    color: $link-color;
    &:hover, &:focus {
      color: $link-hover;
    }
  }
}

.github-icon {
  padding: 3px;
  border: 1px solid transparent;
  border-radius: 50%;
  color: $inner-logo;
      transition: border 0.5s,
      color 0.5s;
  &:hover {
    transition: border 0.5s, color 0.5s;
    color: $white;
    border: 1px solid $light-grey;
  }
}

.linkedin-icon {
  padding: 3px;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: 0.4s;
  &:hover {
    transition: 0.4s;
    border: 1px solid $light-grey;
  }
}

// About Page Styles

.about-header {
  border-bottom: 1px solid $card-outline;
  margin-top: 5em;
  @include media-breakpoint-up(md) {
    margin-top: 9em;
    margin-bottom: 5em; 
  }
}

.about-row {
  @include media-breakpoint-up(md) {
    max-width: 75%;
  }
}
.about-image-holder {
  display: grid;
  padding: 0 1.5rem;  
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1rem auto;
  margin: auto;
  position: relative;
  box-shadow: 0.75rem -0.5rem 0 $link-active, 0 -0.5rem 0 $inner-logo,
    -0.8rem -1em 0 $card-outline;
  .about-image {
    max-width: 100%;
    display: block;
    grid-column: 1 / -1;
    grid-row: 1 / 3;
    align-self: center;
  }
  .about-header-text {
    margin: 0;
    grid-column: 1 / 5;
    grid-row: 2 / span 1;
    align-self: center;
    padding: 0.25em;
    position: relative;
    z-index: 1;
    font-size: 2em;
    text-align: center;
    font-family: "Major Mono Display", monospace;
    color: $light-grey;
    @include media-breakpoint-up(md) {
      font-size: 3em;
    }
  }
}

.about-content-row {
  @include media-breakpoint-up(md) {
    margin-bottom: 20em;
  }
}

// @supports displays the following styles if the user's browser can support it. 
// clip-path determines what portion of the image is displayed
@supports (clip-path: circle(25%)) {
  .about-image-holder {
    clip-path: circle(0%);
    animation: circle-grow 2000ms 450ms forwards;

    &:hover .artist-card__img {
      clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%);
    }
  }
  .about-image {
    clip-path: polygon(
      18.11% 16.5%,
      50% 0%,
      75% 50%,
      54.09% 90.44%,
      13.7% 63.94%
    );
    transition: clip-path 400ms ease-in-out;
  }
  .about-header-text {
    clip-path: inset(50% 50%);
    animation: heading-in 400ms 1000ms forwards;
  }
}

@keyframes circle-grow {
  to {
    clip-path: circle(100%);
  }
}

@keyframes heading-in {
  to {
    clip-path: inset(0% 0%);
  }
}

.about-body-text {
  color: $light-grey;
  font-size: 1.5em;
}
.about-bold-text {
  color: $card-outline;
  font-size: 2em;
  border-bottom: 1px solid $link-active;
}

// Construction page styles 

.construction-text {
  color: $light-grey;
  font-size: 2em;
}

.octo-image {
  background-color: $main-background;
}

.octo-body {
  background-color: $white;
}

.construction-icon {
  font-size: 2em;
  &:hover {
    color: $link-hover;
  }
  &:active {
    transform: translate(-1px,1px);
  }
}



