@import "portfolio-page/variables";

.portfolio-body  {
  background-color: $main-background;
  font-family: $portfolio-font;
}

nav.navbar.portfolio-navbar {
  background-color: $main-background;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid $card-outline;
}

.portfolio-header {
  border-bottom: 1px solid $card-outline;
  margin-top: 5em;
  .portfolio-header-font {
    color: $light-grey;
    font-size: 3em;
  }
}

img.portfolio-card-image {
  height: 141px;
}

p.portfolio-card-text {
  font-size: 1.5em;
}

.card.portfolio-card {
  width: 75%; 
  border-color: $card-outline;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  border-radius: 0;
  .card-corner {
    display: flex;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    transition: 0.3s;
    top: 0;
    right: -26px;
    height: 100%;
    width: 33px;
    padding-right: 9px;
    border-radius: 0;
    transform: skew(8deg);
    margin-right: -36px;
    align-items: start;
    background-color: $inner-logo;
  }
  .corner-arrow {
    position: absolute;
    transform: skew(-6deg);
    margin-left: -2px;
    margin-top: 0px;
    opacity: 0;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    transition: 0.3s;
  }
  &:hover {
    .card-corner {
      margin-right: -4px;
    }
    .corner-arrow {
      opacity: 1;
    }
    border: 1px solid $inner-logo;
  }
}

.portfolio-footer {
  background: $main-background;
  background: linear-gradient(180deg, rgba(43,45,66,1) 2%, rgba(175,53,87,1) 100%);
  font-size: 1.5em;
  .footer-icon{
    font-size: 1.5em;
    &:hover, &:focus {
      color: $link-hover;
    }
  }
  .portfolio-navlink {
    color: $link-color;
    &:hover, &:focus {
      color: $link-hover;
    }
  }
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";