@import "portfolio-page/variables";

.portfolio-body  {
  background-color: $dark-blue;
  font-family: $portfolio-font;
}

.portfolio-navbar {
  background-color: $dark-blue;
  position: fixed;
  border-bottom: 1px solid #b7e8db;
}

.portfolio-header {
  border-bottom: 1px solid #b7e8db;
  .portfolio-header-font {
    color: $light-grey;
    font-size: 3em;
    
  }
}

.portfolio-card {
  width: 50%; 
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";