.shopping-nav {
  margin-right: 0;
  margin-left: 0;
  @include media-breakpoint-up(md) {
    border-bottom: 1px solid rgb(230, 231, 231);
  }
  @media only screen and (min-width: 2500px)  { 
    margin-bottom: 5em;
  }
  .shopping-nav-toggle {
    border: none;
    &:focus, &:active {
      outline: 1px solid $light-background;
      box-shadow: none;
    }
  }
  .shopping-logo {
    @include media-breakpoint-up(md) {
      width: 100%;
    }
    @include media-breakpoint-up(xxl) {
      width: 250px; 
      height: 75px;
    }
  }
}

.btn.cart {
  @include media-breakpoint-up(md) {
    padding-top: 1.1em;
    padding-left: 3em;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 0;
    padding-left: 3em;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 0;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 1em;
    padding-right: 2em;
  }
  &:hover, &:active, &:focus {
    outline: 1px solid $light-background;
    box-shadow: none;
  }
}

.cart {
.cart-amount-holder {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2em;
  right: 6.6em;
  z-index: 2;
  width: 2em;
  color: $light-background;
  font-weight: 600;
  font-size: 0.5em;
  font-family: $shopping-font;
  background-color: $button-and-outline;
  border-radius: 45%;
  @include media-breakpoint-up(md) {
    top: 4.3em;
    right: 7.5em;
    font-size: 0.66em;
  }
  @include media-breakpoint-up(lg) {
    top: 2em;
    right: 3em;
    font-size: 1em;
  }
  @include media-breakpoint-up(xl) {
    top: 2.8em;
    right: 7em;
  }
  @include media-breakpoint-up(xxl) {
    top: 3.4em;
    right: 7em;
    font-size: 1.2em;
  }
}
.svg-cart:hover{
  fill: $button-and-outline;
}
}

.cart-svg {
  @include media-breakpoint-up(lg) {
    width: 40px; 
    height: 46px;
  }
  @include media-breakpoint-up(xxl) {
    width: 46px; 
    height: 55.2px;
  }
}

.nav-link.header-link {
font-family: $shopping-font;
font-weight: 500;
color: $text-color;
margin-right: 2em;
&:after {
  display:block;
  padding-bottom: 2em;
  content: '';
  border-bottom: solid 3px $button-and-outline;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
&:hover, &:focus {
  color: $dark-font;
}
&:hover:after, &:focus:after {
  transform: scaleX(1);
}
@include media-breakpoint-up(lg) {
  font-size: 1.4em;
}
@include media-breakpoint-up(xxl) {
  font-size: 1.5em;
}
}

.avatar-holder {
  position: relative;
  width: 1.4em;
@include media-breakpoint-up(md) {
  width: 2em;
}
@include media-breakpoint-up(lg) {
  width: 2.8em;
}
@include media-breakpoint-up(xxl) {
  width: 4.5em;
} 
  @include media-breakpoint-up(lg) {
    &::after {
      content: '';
      position: absolute;
      border-radius: 50px;
      width: 2.8em;
      height: 2.8em;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      box-shadow: inset 0 0 0 0 $button-and-outline;
  }
  @include media-breakpoint-up(xxl) {
    width: 4.5em;
    height: 4.5em;
  }
}
&:hover::after {
  box-shadow: inset 0 0 0 2px $button-and-outline; 
}
.avatar {
  object-fit: cover;
}
}



  




